{% extends "base.html" %}

{% block content %}
<div style="display: block; margin: 0 10%">
    <h1>ВерстNET</h1>
    <p>Кто мы?</p>
    <p> Мы команда молодых специалистов, которые за некоторую плату научить людей нашему любимому
    труду - созданию сайтов. В простой и шуточной манере мы расскажем сложные вещи так, чтобы
    поняли все!</p>
    <br>
    <p>На кого мы работаем?</p>
    <p>Каждый из нас прошел свой путь и мы бы конечно рассказать все, но мы не намеренны писать
    второй том мертвых душ. Главное, что стоит понимать, что за нашей командой лежит большое
        колличество проектов и работ!</p>
    <br>
    <p>А куда пропала ваша нахваленная верстка на этом сайте?</p>
    <p>Это новое будущее. Это стиииииль</p>
</div>

{% endblock %}